header {
        .section_h_1 {
            height: 20px;
            background-color: $hoverColor;
        }
        .section_h_2 {
            display: flex;
            justify-items: space-between;
            align-items: center;
            height: 100px;
                ul {
                    margin: auto;
                }
                li {
                    list-style: none;
                    margin: 20px;
                    display: inline-block;
                }
                a {
                    color: black;
                    text-transform: uppercase;
                    &:hover {
                        color: $hoverColor;
                    }
                }
                img {
                    height: 70px;
                }
        }
        .jumbotron {
            display: block;
            background-image: url('../../../public/images/jumbotron.jpg');
            height: 450px;
        }
        
}
